services:
  postgres_db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: todoDB
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  go_app:
    build: .
    container_name: go_app
    depends_on:
      - postgres_db
    ports:
      - "8080:8080"
    restart: always

volumes:
  pgdata:
